---
---

@import "{{ site.theme }}";

.btn {
  display: none !important;
}

header {
  display: none;
}

img[src$="igvc_course.gif"] {
  display:block;
  margin: 0 auto;
}

img[src$="audi_bot_gps_sim"] {
  display:block;
  margin: 0 auto;
}